* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imagenes/fondo.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.container {
    width: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
}

#principal {
    width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#principal h1 {
    margin-bottom: 30px;
}

#principal #summary {
    margin-bottom: 120px;
    font-size: 20px;
}

#principal #guessinput {
    margin-bottom: 90px;
    border-radius: 12px;
    border-color: rgb(23, 78, 127);
    width: 300px;
    height: 40px;
    text-align: center;
    font-weight: bolder;
}

#principal #checkButton {
    margin-bottom: 70px;
    background-color: rgb(23, 78, 127);
    border-radius: 12px;
    
}
#principal #checkButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    color: beige;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
}

#principal #checkButton .btn-text {
    text-align: center;
}
#principal #palmera {
    width: 50px;
    height: 50px;
}